html {
	font-family: 'Montserrat', sans-serif;
}

#body {
	width: 100%;
	height: 100%;
}

div#mapButton a {
	color: white;
	text-decoration: none;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding: 5% 0% 10% 0%;
	align-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: scroll; */ /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}

#barraSuperiore {
	width: 99%;
	height: 35px;
	margin-top: -4.2%;
	padding-left: 3%;
	margin-left: -4%;
	padding-right: 3%;
	font: 20px;
	vertical-align: middle;
	background: #F5F5F5;
	padding-top: 2%;
	margin-bottom: 1%;
	overflow: hidden;
}

#dettagli {
	background-color: #fefefe;
	margin: auto;
	padding-top: 2%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 0;
	width: 50%;
	height: 65%;
}

#mappa {
	background-color: #fefefe;
	margin: auto;
	padding-top: 2%;
	overflow-y: hidden;
	overflow-x: hidden;
	border: 0;
	width: 50%;
	height: 65%;
}

/* The Close Button */
.close {
	width: 42px;
	height: 106%;
	vertical-align: middle;
	color: #aaaaaa;
	float: left;
	margin-top: -3.2%;
	padding-left: 4.5%;
	padding-top: 24px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 1%;
	transition: 0.75s ease;
}

.close:hover {
	background: #e74c3c;
	color: white;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#topBar {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	height: 15%;
	background: white;
	top: 0;
}

#mapButton {
	widht: 260px;
	/* height: 35px; */
	padding: 2%;
	vertical-align: middle;
	float: right;
	background: #526ad5;
	color: white;
	margin: auto;
	margin-top: -5px;
	border-radius: 6px;
}

#iconaMappa {
	vertical-align: center;
	padding: 1.5px;
	margin-right: 2px;
}

#iconaFilm {
	vertical-align: center;
	padding: 1.5px;
	margin-right: 2px;
}

#programButton {
	padding: 2%;
	vertical-align: middle;
	float: right;
	background: transparent;
	color: #526ad5;
	border: 1px;
	border-style: solid;
	border-color: #526ad5;
	margin: auto;
	margin-right: 0.5%;
	margin-top: -5px;
	border-radius: 6px;
	transition: 0.3s ease;
}

#programButton:hover {
	background: #526ad5;
	color: white;
}

#containerLogo {
	margin: auto;
	height: 115%;
	width: 23%;
}

#logo {
	margin-top: 6%;
	height: 115%;
}

#corpo {
	margin-top: 11%;
	height: auto;
	width: 55%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	color: #505050;
	font-size: 18px;
}

#risultati {
	margin-top: 2%;
	height: auto;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	color: #606060;
}

#tipologiaMusei {
	border-radius: 8px;
	font-size: 17px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 1.2% 3% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaMonumenti {
	border-radius: 8px;
	font-size: 17px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 1.2% 3% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaLibrerie {
	border-radius: 8px;
	font-size: 17px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 1.2% 3% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaCinema {
	border-radius: 8px;
	font-size: 17px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 1.2% 3% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaConcerti {
	border-radius: 8px;
	font-size: 17px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 1.2% 3% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaTeatri {
	border-radius: 8px;
	font-size: 17px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 1.2% 3% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#apriRisultati {
	font-size: 38px;
	color: #DCDCDC;
	float: right;
	margin-right: 20px;
	margin-top: -1px;
	transition: 0.75s ease;
}

#apriRisultati:hover {
	color: #4ec0c4;
}

#iconaMusei {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 17px;
	margin-left: 4px;
}

#iconaMonumenti {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 10px;
}

#iconaLibrerie {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 7px;
}

#iconaCinema {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 8px;
}

#iconaConcerti {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 12px;
}

#iconaConcerti1 {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 12px;
	margin-left: 5px;
}

#iconaTeatri {
	font-size: 29px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 4px;
}

.dropdown {
	overflow: hidden;
	display: none;
}

.dropdown.responsive {
	display: block;
}

.dropdown2 {
	overflow: hidden;
	display: none;
}

.dropdown2.responsive {
	display: block;
}

.dropdown3 {
	overflow: hidden;
	display: none;
}

.dropdown3.responsive {
	display: block;
}

.dropdown4 {
	overflow: hidden;
	display: none;
}

.dropdown4.responsive {
	display: block;
}

.dropdown5 {
	overflow: hidden;
	display: none;
}

.dropdown5.responsive {
	display: block;
}

.dropdown6 {
	overflow: hidden;
	display: none;
}

.dropdown6.responsive {
	display: block;
}

.dropdown7 {
	overflow: hidden;
	display: none;
}

.dropdown7.responsive {
	display: block;
}
.dropdown8 {
	overflow: hidden;
	display: none;
}

.dropdown8.responsive {
	display: block;
}
.dropdown {
	overflow: hidden;
}

#row {
	padding: 3%;
	margin: auto;
	width: 610px;
	height: auto;
	background: #F0F0F0;
	border-radius: 8px;
	font-size: 16px;
}

#rowConc{
	padding: 3%;
	margin: auto;
	width: 610px;
	height: auto;
	background: #F0F0F0;
	border-radius: 8px;
	font-size: 16px;
}

#img {
	padding-left: 4%;
	padding-top: 1%;
	padding-right: 4%;
	float: left;
	height: 150px;
}

#dettagliFilm {
	vertical-align: middle;
	line-height: 1 em;
	padding-top: 3%;
	height: 150px;
	width: 85%;
}

#inGrassetto {
	font-weight: bold;
}

#description {
	margin-top: 6.5%;
	text-align: center;
	font-size: 20px;
}

i#icon2 {
	float: right;
	font-size: 24px;
	color: #1dd1a1;
	margin-right: 15px;
}

p#none {
	margin: 0;
	text-align: center;
	padding: 4%;
	paddin-bottom: 0;
	color: crimson;
	font-size: 22px;
	font-weight: bold;
}

#searchBox {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	background: transparent;
	margin: auto;
	width: 100%;
	height: 45%;
	border-radius: 50px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	padding-left: 50px;
	padding-right: 60px;
}

p#details {
	margin-top: -10%;
	padding-left: 15%;
	float: left;
}

#searchBox:focus {
	outline: none;
	border-color: #1dd1a1;
}

#searchBoxContainer {
	height: 16.5%;
	margin: auto;
	margin-top: -40px;
	margin-bottom: 12px;
}

#iconCerca {
	font-size: 22px;
	margin-right: 45px;
	vertical-align: middle;
	margin-top: -4.5%;
	float: right;
	color: #4ec0c4;
}

iframe {
	overflow: hidden;
	height: 93%;
	padding-left: 1%;
	padding-right: 1%;
	border: none;
	margin: auto;
	width: 98%;
}

#checkContainer {
	height: auto;
	text-align: center;
	margin: auto;
}

#suggest {
	margin: auto;
	text-align: left;
	padding-left: 3%;
	font-size: 18px;
	margin-top: -6%;
}

#check {
	margin-left: 2%;
	height: 18px;
	width: 18px;
	border: 0;
	vertical-align: middle;
}

div#programButton {
	cursor: pointer;
}

#check2 {
	margin-left: 0;
	height: 18px;
	width: 18px;
	border: 0;
	vertical-align: middle;
}

.leaflet-layer {
	position: none !important;
	left: none !important;
	top: none !important;
}

label {
	color: #686868;
	font-size: 18px;
	vertical-align: middle;
}

footer {
	margin-top: 2%;
	bottom: 0;
}

#copyright {
	margin: auto;
	width: 55%;
	margin-top: 3%;
	margin-bottom: 1.5%;
	heigth: 30px;
	border-width: thin;
	border-color: #4ec0c4;
	padding: 1.5% 0% 1.5% 0%;
	font-size: 16px;
	border-style: solid;
	color: #4ec0c4;
	border-radius: 50px;
	/* background: #008d95; */
	text-align: center;
	/* margin-bottom: 2%; */
	background: #ffffff;
}