html {
	font-family: 'Montserrat', sans-serif;
}

#body {
	width: 100%;
	height: 100%;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding: 5% 0% 10% 0%;
	align-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: scroll; */ /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
#popone {
	background-color: #fefefe;
	margin: auto;
	padding: 1%;
	overflow: scroll;
	border: 0;
	width: 55%;
	height: 55%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#topBar {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	height: 15%;
	background: white;
	top: 0;
}

#mapButton {
	widht: 260px;
	/* height: 35px; */
	padding: 2%;
	vertical-align: middle;
	float: right;
	background: #526ad5;
	color: white;
	margin: auto;
	margin-top: -5px;
	border-radius: 6px;
}

#iconaMappa {
	vertical-align: center;
	padding: 1.5px;
	margin-right: 2px;
}

#iconaFilm {
	vertical-align: center;
	padding: 1.5px;
	margin-right: 2px;
}

#programButton {
	widht: 260px;
	/* height: 35px; */
	padding: 2%;
	vertical-align: middle;
	float: right;
	background: #526ad5;
	color: white;
	margin: auto;
	margin-right: 1%;
	margin-top: -5px;
	border-radius: 6px;
}

#containerLogo {
	margin: auto;
	height: 115%;
	width: 23%;
}

#logo {
	margin-top: 6%;
	height: 115%;
}

#corpo {
	margin-top: 11%;
	height: auto;
	width: 55%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	color: #505050;
	font-size: 18px;
}

#risultati {
	margin-top: 2%;
	height: auto;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	color: #606060;
}

#tipologiaMusei {
	border-radius: 8px;
	font-size: 17.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3.2% 1.2% 3.2% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaMonumenti {
	border-radius: 8px;
	font-size: 17.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3.2% 1.2% 3.2% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaLibrerie {
	border-radius: 8px;
	font-size: 17.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3.2% 1.2% 3.2% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaCinema {
	border-radius: 8px;
	font-size: 17.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3.2% 1.2% 3.2% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaConcerti {
	border-radius: 8px;
	font-size: 17.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3.2% 1.2% 3.2% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#tipologiaTeatri {
	border-radius: 8px;
	font-size: 17.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3.2% 1.2% 3.2% 1.2%;
	background-color: transparent;
	padding-left: 22px;
}

#apriRisultati {
	font-size: 38px;
	color: #DCDCDC;
	float: right;
	margin-right: 20px;
	margin-top: -1px;
	transition: 0.75s ease;
}

#apriRisultati:hover {
	color: #4ec0c4;
}

#iconaMusei {
	font-size: 32px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 17px;
	margin-left: 5px;
}

#iconaMonumenti {
	font-size: 32px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 10px;
}

#iconaLibrerie {
	font-size: 32px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 7px;
}

#iconaCinema {
	font-size: 31.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 8px;
}

#iconaConcerti {
	font-size: 32px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 12px;
}

#iconaTeatri {
	font-size: 32px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 4px;
}

.dropdown {
	overflow: hidden;
	display: none;
}

.dropdown.responsive {
	display: block;
}

.dropdown2 {
	overflow: hidden;
	display: none;
}

.dropdown2.responsive {
	display: block;
}

.dropdown3 {
	overflow: hidden;
	display: none;
}

.dropdown3.responsive {
	display: block;
}

.dropdown4 {
	overflow: hidden;
	display: none;
}

.dropdown4.responsive {
	display: block;
}

.dropdown5 {
	overflow: hidden;
	display: none;
}

.dropdown5.responsive {
	display: block;
}

.dropdown6 {
	overflow: hidden;
	display: none;
}

.dropdown6.responsive {
	display: block;
}

.dropdown {
	overflow: hidden;
}

#row {
	padding: 3%;
	margin: auto;
	width: 610px;
	height: auto;
	background: #F0F0F0;
	border-radius: 8px;
	font-size: 16px;
}

#img {
	padding: 1% 3% 1% 0%;
	margin-bottom: -2%
}

#description {
	margin-top: 6.5%;
	text-align: center;
	font-size: 20px;
}

i#icon2 {
	float: right;
	font-size: 24px;
	color: #1dd1a1;
	margin-right: 15px;
}

p#none {
	margin: 0;
	text-align: center;
	padding: 4%;
	paddin-bottom: 0;
	color: crimson;
	font-size: 22px;
	font-weight: bold;
}

#searchBox {
	font-family: 'Montserrat', sans-serif;
	font-size: 18.5px;
	background: transparent;
	margin: auto;
	width: 100%;
	height: 45.5%;
	border-radius: 50px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	padding-left: 72px;
	padding-right: 60px;
}

p#details {
	margin-top: -10%;
	padding-left: 15%;
	float: left;
}

#searchBox:focus {
	outline: none;
	border-color: #1dd1a1;
}

#searchBoxContainer {
	height: 16.5%;
	margin: auto;
	margin-top: -40px;
	margin-bottom: 12px;
}

#iconCerca {
	font-size: 22.5px;
	margin-left: 32px;
	position: relative;
	color: #4ec0c4;
}

#checkContainer {
	height: auto;
	text-align: center;
	margin: auto;
}

#suggest {
	margin: auto;
	text-align: left;
	padding-left: 3%;
	font-size: 18px;
	margin-top: -6%;
}

#check {
	margin-left: 2%;
	height: 18px;
	width: 18px;
	border: 0;
	vertical-align: middle;
}

#check2 {
	margin-left: 0;
	height: 18px;
	width: 18px;
	border: 0;
	vertical-align: middle;
}

label {
	color: #686868;
	font-size: 18px;
	vertical-align: middle;
}

footer {
	margin-top: 2%;
	bottom: 0;
}

#copyright {
	margin: auto;
	width: 500px;
	heigth: 40px;
	padding: 1%;
	font-size: 16px;
	color: white;
	border-radius: 50px;
	background: #34495e;
	text-align: center;
	margin-bottom: 2%;
}