html {
	font-family: 'Montserrat', sans-serif;
}

#buttonActiveMap{
	margin: auto;
	height: 100%;
	width: 100%;
	padding-top: 20%;
	padding-bottom: 150px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
	color: black;
	display: block;

}

#caricamento{
	width: 230px; 
	heigth: 110px; 
	margin-right: -35px;
	margin-left: -7%;
	vertical-align: middle;
}

#caricamentoX{
	width: 180px; 
	heigth: 80px; 
	margin-right: -35px;
	margin-left: 3px;
	vertical-align: middle;
}

#divCaricamento{
	float: right;
	position: fixed;
	height: 75x;
	width: 375px;
	font-size: 18px;
	border-radius: 12px;
	border-width: thin;
	border-style: solid;
	border-color: #526ad5;
	margin-left: 1%;
	margin-top: 10px;
	background: white;
	color: #526ad5;
}

#body {
	width: 100%;
	height: 100%;
}

div#mapButton a {
	color: white;
	text-decoration: none;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding: 3.2% 0% 10% 0%;
	align-content: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/* overflow: scroll; */ /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}

.minimodal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	margin: 10% 22% 0% 22%;
	/* padding: 3.2% 0% 10% 0%; */
	align-content: center;
	left: 0;
	top: 0;
	border-radius: 100px;
	/* overflow-y: auto; */
	/* overflow-x: hidden; */
	/* padding: 2% 2% 2% 2%; */
	/* width: 100%; */
	height: 100%;
	/* overflow: scroll; */ /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(255, 255, 255, 0); /* Black w/ opacity */
}

#barraSuperiore {
	width: 99%;
	height: 30px;
	margin-top: -4.2%;
	padding-left: 3%;
	margin-left: -4%;
	padding-right: 3%;
	font: 18px;
	vertical-align: middle;
	background: #F5F5F5;
	padding-top: 2.6%;
	margin-bottom: 0px;
	overflow: hidden;
}

#barraSuperioreRev {
	width: 100%;
	height: 30px;
	margin-top: -5.5%;
	/* padding-left: 3%; */
	margin-left: %;
	/* padding-right: 0%; */
	font: 18px;
	/* border-radius: 8px; */
	vertical-align: middle;
	background: #5d5d5d;
	padding-top: 1.6%;
	margin-bottom: 0px;
	overflow: hidden;
}
div#rev {
    padding: 2% 4% 2% 4%;
    background-color: #909090;
    margin: auto;
    padding-top: 2%;
    overflow-y: auto;
    color: white;
    overflow-x: hidden;
    border: 0;
    /* border-radius: 8px; */
    /* width: 63%; */
    height: 44%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dettagli {
	background-color: #fefefe;
	margin: auto;
	padding-top: 2%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 0;
	border-radius: 8px;
	width: 63%;
	height: 81%;
}

#mappa {
	background-color: #fefefe;
	margin: auto;
	padding-top: 2%;
	border-radius: 8px;
	overflow-y: hidden;
	overflow-x: hidden;
	border: 0;
	width: 63%;
	height: 81%;
}

/* The Close Button */
.close {
	width: 40px;
	height: 106%;
	vertical-align: middle;
	color: #aaaaaa;
	float: left;
	border-radius: 8px;
	margin-top: -30px;
    padding-left: 36px;
	padding-top: 28px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 1%;
	transition: 0.4s ease;
}

.close:hover {
	background: #e74c3c;
	color: white;
}

.close:hover, .close:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#topBar {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	/* height: 15%; */
	background: white;
	/* top: 0; */
}

#mapButton {
	widht: 260px;
	/* height: 35px; */
	padding: 2%;
	vertical-align: middle;
	float: right;
	background: #526ad5;
	color: white;
	margin: auto;
	margin-top: -5px;
	border-radius: 6px;
}

#iconaMappa {
	vertical-align: center;
	padding: 1.5px;
	margin-right: 2px;
}

#iconaFilm {
	vertical-align: center;
	padding: 1.5px;
	margin-right: 2px;
}

#programButton {
	padding: 2%;
	vertical-align: middle;
	float: right;
	background: transparent;
	color: #526ad5;
	border: 1px;
	border-style: solid;
	border-color: #526ad5;
	margin: auto;
	margin-right: 1%;
	margin-top: -7.5px;
	border-radius: 6px;
	transition: 0.3s ease;
}

#programButton:hover {
	background: #526ad5;
	color: white;
}

#containerLogo {
	/* align-items: center; */
	margin: 0;
	/* width: 22%; */
	/* transition: 0.75s; */
}

#logo {
	margin-top: 3% !important;
	transition: 0.50;
	/* height: 120%; */
	width: 27%;
	/* align-items: center; */
	/* padding-right: 39%; */
	padding-left: 37%;
	margin: auto;
	transition: 0.75s;
}

#corpo {
	margin-top: 3%;
	height: auto;
	width: 55%;
	margin-left: 22.5%;
	margin-right: 22.5%;
	color: #505050;
	font-size: 18px;
}

#risultati {
	margin-top: 5%;
	padding-top: 1%;
	height: auto;
	width: 57%;
	/* padding-left: 37%; */
	transition: 0.50s;
	margin:auto;
	color: #181818;
}

#tipologiaMusei {
	border-radius: 8px;
	font-size: 14.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 0 3% 0;
	background-color: transparent;
	padding-left: 22px;
	transition: 0.4s ease;
}

#tipologiaMusei:hover {
	box-shadow: 0px 1px 4px -1px gray; background: #F8F8F8; 
}

#tipologiaMusei:hover #apriRisultati{
	color: #4ec0c4;
}

#tipologiaMonumenti {
	border-radius: 8px;
	font-size: 14.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 0 3% 0;
	background-color: transparent;
	padding-left: 22px;
	transition: 0.4s ease;
}

#tipologiaMonumenti:hover {
	box-shadow: 0px 1px 4px -1px gray; background: #F8F8F8; 
}

#tipologiaMonumenti:hover #apriRisultati{
	color: #4ec0c4;
}

#tipologiaLibrerie {
	border-radius: 8px;
	font-size: 14.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 0 3% 0;
	background-color: transparent;
	padding-left: 22px;
	transition: 0.4s ease;
}

#tipologiaLibrerie:hover {
	box-shadow: 0px 1px 4px -1px gray; background: #F8F8F8; 
	
}

#tipologiaLibrerie:hover #apriRisultati{
	color: #4ec0c4;
}

#tipologiaCinema {
	border-radius: 8px;
	font-size: 14.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 0 3% 0;
	background-color: transparent;
	padding-left: 22px;
	transition: 0.4s ease;
}

#tipologiaCinema:hover {
	box-shadow: 0px 1px 4px -1px gray; background: #F8F8F8; 
	
}

#tipologiaCinema:hover #apriRisultati{
	color: #4ec0c4;
}

#tipologiaConcerti {
	border-radius: 8px;
	font-size: 14.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 0 3% 0;
	background-color: transparent;
	padding-left: 22px;
	transition: 0.4s ease;
}

#tipologiaConcerti:hover {
	box-shadow: 0px 1px 4px -1px gray; background: #F8F8F8; 
	
}

#tipologiaConcerti:hover #apriRisultati{
	color: #4ec0c4;
}

#tipologiaTeatri {
	border-radius: 8px;
	font-size: 14.5px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	vertical-align: middle;
	padding: 3% 0 3% 0;
	background-color: transparent;
	padding-left: 22px;
	transition: 0.4s ease;
}

#tipologiaTeatri:hover {
	box-shadow: 0px 1px 4px -1px gray; background: #F8F8F8; 
}

#tipologiaTeatri:hover #apriRisultati{
	color: #4ec0c4;
}

#apriRisultati {
	font-size: 36px;
	color: #DCDCDC;
	float: right;
	margin-right: 23px;
	margin-top: -2px;
	transition: 0.4s ease;
}

#apriRisultati:hover {
	color: #4ec0c4;
}

#iconaMusei {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 17px;
	margin-left: 4px;
}

#iconaMonumenti {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 10px;
}

#iconaLibrerie {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 7px;
}

#iconaCinema {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 8px;
}

#iconaConcerti {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 12px;
}

#iconaConcerti1 {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	float: left;
	/* padding-bottom: 4%; */
	vertical-align: middle;
	margin-right: 12px;
	margin-left: 5px;
}

#iconaTeatri {
	font-size: 24.5px;
	color: #e74c3c;
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 4px;
}

.dropdown {
	overflow: hidden;
	display: none;
}

.dropdown.responsive {
	display: block;
}

.dropdown2 {
	overflow: hidden;
	display: none;
}

.dropdown2.responsive {
	display: block;
}

.dropdown3 {
	overflow: hidden;
	display: none;
}

.dropdown3.responsive {
	display: block;
}

.dropdown4 {
	overflow: hidden;
	display: none;
}

.dropdown4.responsive {
	display: block;
}

.dropdown5 {
	overflow: hidden;
	display: none;
}

.dropdown5.responsive {
	display: block;
}

.dropdown6 {
	overflow: hidden;
	display: none;
}

.dropdown6.responsive {
	display: block;
}

.dropdown7 {
	overflow: hidden;
	display: none;
}

.dropdown7.responsive {
	display: block;
}
.dropdown8 {
	overflow: hidden;
	display: none;
}

.dropdown8.responsive {
	display: block;
}
.dropdown {
	overflow: hidden;
}

#row {
	padding: 2.7%;
	margin: auto;
	width: 610px;
	height: auto;
	background: #F0F0F0;
	border-radius: 8px;
	font-size: 15.5px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#rowConc{
	padding: 2.7%;
	margin: auto;
	width: 610px;
	height: auto;
	padding-bottom: 6%;
	background: #F0F0F0;
	border-radius: 8px;
	font-size: 15.5px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#img {
	margin-left: 6%;
	margin-top: 2%;
	margin-right: 4%;
	float: left;
	height: 207px; 
	width: 141px;
	border-radius: 3px;
	transition: 0.4s ease;
	box-shadow: 0px 1.5px 4.5px -1px grey;
}

#img:hover{
	trasform: scale(1.1);
}

#linea{
	width: 750px;
	height: 0.5px;
	background: grey;
	margin:auto;
	margin-top: 8px;
	margin-bottom: 8px;
}

#dettagliFilm {
	vertical-align: middle;
	line-height: 1.5em;
	border-radius: 8px;
	padding-top: 2%;
	width: 90%;
	height: 200px;
}

#inGrassetto {
	font-weight: bold;
}
.link:hover {
    color: #a1352a;
}

#description {
	/* margin-top: 6%; */
	text-align: center;
	font-size: 17px;
	margin-top: 3%;
}

i#icon2 {
	float: right;
	font-size: 24px;
	color: #1dd1a1;
	margin-right: 15px;
}

p#none {
	margin: 0;
	text-align: center;
	padding: 4%;
	paddin-bottom: 0;
	color: crimson;
	font-size: 22px;
	font-weight: bold;
}

#searchBox {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background: transparent;
	margin: auto;
	width: 100%;
	height: 48px;
	border-radius: 50px;
	border-width: thin;
	border-style: solid;
	border-color: #D8D8D8;
	padding-left: 50px;
	padding-right: 60px;
	margin-top: -17px;

}

p#details {
	margin-top: -10%;
	padding-left: 15%;
	float: left;
}

#searchBox:focus {
	outline: none;
	border-color: #1dd1a1;
}

#searchBoxContainer {
	height: 13.5%;
	margin: auto;
	/* margin-top: -40px; */
	margin-bottom: 12px;
}

#iconCerca {
	font-size: 20px;
	margin-right: 45px;
	vertical-align: middle;
	margin-top: -33px;
	float: right;
	color: #4ec0c4;
}

iframe {
	overflow: hidden;
	height: 95%;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 8px;
	border: none;
	margin: auto;
	margin-left:0.5%;
	margin-right: 0.5%;
	margin-top: 0.3%;
	margin-bottom: 0.4%;
	width: 99%;
}

#checkContainer {
	height: auto;
	text-align: center;
	margin: auto;
	font-size: 15.5px;
}

#suggest {
	margin: auto;
	font-size: 15px;
	margin-top: -5%;
	margin-bottom: -0.5%;
	color: #202020;
}

#check {
	margin-left: 2%;
	height: 17px;
	width: 17px;
	border: 0;
	vertical-align: middle;
}

div#programButton {
	cursor: pointer;
}

#check2 {
	margin-left: 0;
	height: 17px;
	width: 17px;
	border: 0;
	vertical-align: middle;
}

.leaflet-layer {
	position: none !important;
	left: none !important;
	top: none !important;
}

label {
	color: black;
	font-size: 15.5px;
	font-weight: 600;
	vertical-align: middle;
}

footer {
	margin-top: 2%;
	bottom: 0;
}

#copyright {
	margin: auto;
	width: 40%;
	margin-top: 3%;
	margin-bottom: 1.5%;
	heigth: 20px;
	padding: 1.5% 0% 1.5% 0%;
	font-size: 15.5px;
	color: #526ad5;
	text-align: center;
	font-weight: bolder;
	border-bottom: #526ad5;
	border-bottom-style: solid;
	border-width: 1.5px;
	box-shadow: 0px 2px 0px -1px #788ad89c;
}

#logo:hover {
    width: 32% !important;
    transition: 0.75s;
    padding-left: 34.5%;

}

div#dett {
    float: left;
    /* margin-top: -4%; */
    width: 70%;
}